/* COLOR PALETTE */
/* light colors */
/* dark colors */
/* FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,400;1,700;1,800;1,900&display=swap");
/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #262a3b;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

/* MEDIA QUERIES */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__menu {
  align-items: center;
  display: flex;
  font-family: #000000;
}

main .hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
main .hero__grid--low {
  display: flex;
}
main .projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
}
main .technologies__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
main .about-me__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}
main .about-me__grid--left {
  display: flex;
}
main .studies__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
main .contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main .contact__column--left {
  display: flex;
}

footer .footer__container {
  display: flex;
  justify-content: space-between;
}

/* BUTTONS */
.button--main, .hero__button {
  background-color: #feef22;
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.button--secondary, .projects__grid__element a {
  display: inline-flex;
  border: 1px solid #feef22;
  color: #ffffff;
  border-radius: 0.5rem;
  margin-top: 15px;
  margin-right: 20px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* TEXT STYLES */
.heading--2, .contact__column--left h2, .studies h2, .about-me h2, .technologies__title-container h2, .projects__title-container h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

/* NAVBAR */
.navbar {
  padding: 30px;
}
.navbar__logo {
  width: 100px;
}
.navbar__menu li {
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}
.navbar__menu li a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 30px;
  font-size: 20px;
  transition: margin 0.25s linear;
}
.navbar__menu li a:hover {
  color: #feef22;
}

/* MAIN */
.hero {
  margin: 80px 0;
}
.hero__left {
  margin: auto 0;
}
.hero__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}
.hero__subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 500;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.hero__right {
  display: flex;
  align-items: center;
}
.hero__right img {
  width: 100%;
}
.hero__icons {
  margin: 0 30px;
  align-self: center;
  height: 30px;
}
.hero__icons a {
  margin-right: 20px;
}

.projects {
  margin: 60px 0 0 0;
}
.projects__title-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.projects__grid__element img {
  width: 100%;
}
.projects__grid__element h4 {
  font-size: 24px;
  margin: 16px 0 12px 0;
}
.technologies {
  margin: 60px 0 0 0;
}
.technologies__title-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.technologies__element {
  background-color: #343848;
  padding: 20px 20px;
}
.technologies__element__icons-container {
  display: flex;
  margin-top: 15px;
}
.technologies__element__icons-container img {
  margin-right: 10px;
}

/* ABOUT-ME*/
/* .about-me {
    margin: 0 60px 0 0;

    img {
        width: 100%;
    }

    h2 {
        @extend .heading--2;
    }

    p {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 2;
    }
} */
.about-me {
  margin: 60px 0 0 0;
}
.about-me__grid--left img {
  align-self: center;
  width: 100%;
}
.about-me__grid--right p {
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 2;
}

.studies {
  margin: 60px 0 0 0;
}
.studies__grid__item {
  margin: 20px 0;
}
.studies h3 {
  font-size: 24px;
  margin: 16 0px;
}
.studies p {
  font-size: 20px;
}

.contact {
  margin: 100px 0 0 0;
}
.contact__column--left h2 {
  align-self: center;
  width: 100%;
  text-align: center;
}
.contact__column--right p {
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 2;
}
.contact__column--right li {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 2;
  margin-left: 2rem;
}
.contact__column--right li a {
  color: #ffffff;
}

footer {
  background-color: black;
  margin-top: 100px;
}
footer .footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
footer .footer__container p {
  align-self: center;
}
footer .footer__container img {
  margin-right: 20px;
}

/* MEDIA QUERIES */
@media all and (max-width: 1400px) {
  .hero,
  .projects,
  .technologies,
  .about-me,
  .studies,
  .contact {
    margin: 60px 60px 0 60px;
  }
  footer .footer__container {
    padding: 30px 60px;
  }
}
@media all and (max-width: 1200px) {
  .hero__icons {
    margin: 0 20px;
    align-self: center;
    height: 30px;
  }
  .hero__icons a {
    margin-right: 10px;
  }
  .about-me__grid--right p {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  .contact__column--right p {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  .contact__column--right li {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
    margin-left: 1.5rem;
  }
  .contact__column--right li a {
    color: #ffffff;
  }
}
@media all and (max-width: 960px) {
  .navbar__menu li a {
    margin: 0 16px;
  }
  .navbar__menu li a:hover {
    color: #feef22;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
