/*
En este archivo deberán ir todas tus reglas base:

Las reglas base pueden ser:
- resets
- variables
- mixins
- clases generales
*/

// PALETA DE COLORES

// light colors
$color-background-light: #e2e9f3;
$color-main_text-light: #111b2a;
$color-button-light: #000000;

// dark colors
$color-background-dark: #000000;
$color-main_text-dark: #ffffff;
$color-button-dark: #000000;