// Aquí pondremos el código que podamos clasificar como reutilizable:

// El código reutilizable puede ser:
// - botones
// - barras de navegación
// - estilos para secciones 
// - tarjetas
// - modals

@use 'base' as *;

/* BUTTONS */

.button--main {
    background-color: $other_1-color-dark;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-family: $text-font;
    font-weight: bold;
    text-decoration: none;
    color: $black-text-button;
}

.button--secondary {
    // background-color: $other_1-color-dark;
    display: inline-flex;
    border: 1px solid $other_1-color-dark;
    color: $main_text-color-dark;
    border-radius: 0.5rem;
    margin-top: 15px;
    margin-right: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: $text-font;
    font-weight: bold;
    text-decoration: none;
}

/* TEXT STYLES */

.heading--2 {
    font-family: $title-font;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

/* NAVBAR */
.navbar {
    padding: 30px;

    &__logo {
        width: 100px;
    }

    &__menu li {
        list-style: none;
        font-family: $text-font;
        
        a {
            text-decoration: none;
            color: $main_text-color-dark;
            margin: 0 30px;
            font-size: 20px;
            transition: margin .25s linear; 
            // -o-transition: font-size .25s linear; 
            // -moz-transition: font-size .25s linear; 
            // -webkit-transition: font-size .25s linear; 

            &:hover{
                color: $other_1-color-dark;
            }
        }
    }
}

/* MAIN */

.hero {
    // padding: 0 50px;
    margin: 80px 0;
    
    &__left {
        margin: auto 0;
    }

    &__title {
        font-family: $title-font;
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: $text-font;
        font-size: 500;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    &__right {
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }

    &__button {
        @extend .button--main;
    }

    &__icons {
        margin: 0 30px; 
        align-self: center;
        height: 30px;

        a{
            margin-right: 20px;
        }
    }
}

.projects {
    margin: 60px 0 0 0;
    // padding: 0 50px;

    &__title-container {
        padding-top: 40px;
        padding-bottom: 20px;
        h2 {
            @extend .heading--2;
        }
    }

    &__grid {
        &__element {
            img {
                width: 100%;
            }

            h4 {
                font-size: 24px;
                margin: 16px 0 12px 0;
            }

            a {
                @extend .button--secondary;
            }
        }
    } 
}

.technologies {
    margin: 60px 0 0 0;

    &__title-container {
        padding-top: 40px;
        padding-bottom: 20px;
        h2 {
            @extend .heading--2;
        }
    }

    &__element {
        background-color: #343848;
        padding: 20px 20px;
        
        &__icons-container {
            display: flex;
            margin-top: 15px;

            img {
                margin-right: 10px;
            }
        }
    }
}

/* ABOUT-ME*/

/* .about-me {
    margin: 0 60px 0 0;
    
    img {
        width: 100%;
    }

    h2 {
        @extend .heading--2;
    }

    p {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 2;
    }
} */

.about-me {
    margin: 60px 0 0 0;
    
    h2 {
        @extend .heading--2;
    }
    
    &__grid--left img {
        align-self: center;
        width: 100%;
    }

    &__grid--right p {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 2;
    }
}

.studies {
    margin: 60px 0 0 0;

    &__grid__item {
        margin: 20px 0;
    }
    
    h2 {
        @extend .heading--2;
    }

    h3 {
        font-size: 24px;
        margin: 16 0px;
    }

    p {
        font-size: 20px;
    }
}

.contact {
    margin: 100px 0 0 0;

    &__column--left h2 {
        @extend .heading--2;
        align-self: center;
        width: 100%;
        text-align: center;
    }

    &__column--right p {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 2;
    }

    &__column--right li {
        color: $main_text-color-dark;
        font-family: $text-font;
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 2;
        margin-left: 2rem;

        a {
            color: $main_text-color-dark;
        }
    }
}

footer {
    background-color: black;
    margin-top: 100px;

    .footer__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 0;

        p {
            align-self: center;
        }

        img {
            margin-right: 20px;
        }
    }
} 

/* MEDIA QUERIES */

@media all and (max-width: $breakpoint-xlg) {
    .hero,
    .projects,
    .technologies,
    .about-me,
    .studies,
    .contact {
        margin: 60px 60px 0 60px;
    }

    footer .footer__container {
        padding: 30px 60px;
    }
}

@media all and (max-width: $breakpoint-lg) {
    .hero__icons {
        margin: 0 20px; 
        align-self: center;
        height: 30px;

        a {
            margin-right: 10px;
        }
    }

    .about-me__grid--right p {
        font-size: 20px;
        margin-bottom: 12px;
        line-height: 1.5;
    }

    .contact {
    
        &__column--right p {
            font-size: 20px;
            margin-bottom: 12px;
            line-height: 1.5;
        }
    
        &__column--right li {
            color: $main_text-color-dark;
            font-family: $text-font;
            font-size: 20px;
            margin-bottom: 12px;
            line-height: 1.5;
            margin-left: 1.5rem;
    
            a {
                color: $main_text-color-dark;
            }
        }
    }
}

@media all and (max-width: $breakpoint-md){
    .navbar__menu li a {
        margin: 0 16px;
    
        &:hover{
            color: $other_1-color-dark;
            }
        }

    .hero {
          
        &__title {
            font-size: 36px;
            margin-bottom: 20px;
        }
    
        &__subtitle {
            font-size: 20px;
        }
    }
}