// En este archivo deberán ir todas las reglas relacionadas con layout:

// Se considera layout:
// - grid
// - contenedores

@use 'base' as *;

.navbar {
    display: flex;
    justify-content: space-between;

    &__menu {
        align-items: center;
        display: flex;
        font-family: $black-text-bottom;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        
    }
}

main {
    .hero {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    .projects__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 40px;
    }

    .technologies__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .studies__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
